include *.rst *.txt
# EFTCAMB MOD START: include native source, runtime data, and all bundled licences in the source distribution.
include README.md
include LICENCE.txt
include fortran/eftcamb/LICENSE
include forutils/LICENSE
recursive-include eftcamb *.py
recursive-include fortran Makefile* *.dat *.f *.f90 *.F90 *.c eftcamb*
recursive-include forutils Makefile* *.?90
recursive-exclude fortran/Releaselib *
recursive-exclude forutils/Releaselib *
global-exclude *.o *.mod *.d
# EFTCAMB MOD END
exclude eftcamb/cambdll.dll
exclude eftcamb/camblib.so
include eftcamb/PArthENoPE_880.2_marcucci.dat
include eftcamb/PArthENoPE_880.2_standard.dat
include eftcamb/PRIMAT_Yp_DH_Error.dat
include eftcamb/PRIMAT_Yp_DH_ErrorMC_2021.dat
include eftcamb/PRIMAT_Yp_DH_ErrorMC_2024.dat
exclude eftcamb/HighLExtrapTemplate_lenspotentialCls.dat
exclude fortran/sigma8.f90
exclude fortran/writefits.f90
include docs/README_pypi.rst
